@mixin grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 16px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
  }
  @media (min-width: 1366px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;
  }
}
