//- Все примеси в этом файле должны начинаться c имени блока (footer)

mixin footer(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +footer('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' footer--' + modsList[i].trim();
      }
    }

  .footer(class=allMods)&attributes(attributes)
    .footer__top
      .footer__inner
        .footer__logo.logo
          a(href="/") 
            img(src="img/logo.svg", alt="")
        nav.footer__menu
          ul.footer__menu-list 
            li
              a(href="") Вход для сотрудников
            li
              a(href="") Вход в систему Service Desk
        .footer__contacts
          .footer__social
            a(href="")
              svg(width='23' height='19' viewbox='0 0 23 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_238_37424)')
                  path(d='M20.2301 0.756857L1.51512 7.97369C0.237902 8.48669 0.245292 9.19919 1.28079 9.51688L6.08568 11.0158L17.2028 4.00163C17.7284 3.6818 18.2087 3.85385 17.8139 4.2043L8.80691 12.3332H8.80477L8.80691 12.3342L8.47544 17.2869C8.96105 17.2869 9.17527 17.0642 9.44761 16.8013L11.7814 14.5319L16.6359 18.1175C17.5311 18.6105 18.1739 18.3572 18.3966 17.289L21.5834 2.27052C21.9095 0.962688 21.0841 0.370524 20.2301 0.756857Z' fill='white')
                defs
                  clippath#clip0_238_37424
                    rect(width='22.1667' height='19' fill='white')
            a(href="")
              svg(width='24' height='14' viewbox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M22.4184 13.6673H19.8729C18.9086 13.6673 18.6116 12.9613 16.877 11.3388C15.3703 9.99041 14.7029 9.81137 14.3315 9.81137C13.8066 9.81137 13.6576 9.94792 13.6576 10.6125V12.7357C13.6576 13.3052 13.4636 13.6471 11.8309 13.6471C9.13083 13.6471 6.13493 12.1399 4.03429 9.3319C0.866347 5.21697 -0.000427246 2.13482 -0.000427246 1.49755C-0.000427246 1.15464 0.147505 0.833984 0.860867 0.833984H3.41188C4.0573 0.833984 4.30276 1.10811 4.5537 1.74538C5.81496 5.10671 7.91559 8.05129 8.78237 8.05129C9.10234 8.05129 9.25027 7.91473 9.25027 7.16114V3.68955C9.15275 2.08829 8.23995 1.95072 8.23995 1.38224C8.23995 1.10811 8.48541 0.833984 8.8788 0.833984H12.8905C13.4329 0.833984 13.6324 1.10811 13.6324 1.69784V6.38125C13.6324 6.88701 13.8778 7.06606 14.0257 7.06606C14.3457 7.06606 14.6197 6.88701 15.2125 6.33876C17.0447 4.44213 18.3574 1.51778 18.3574 1.51778C18.5284 1.17487 18.8253 0.854216 19.4707 0.854216H22.0218C22.7866 0.854216 22.9576 1.21736 22.7866 1.72312C22.4667 3.09274 19.3447 7.16013 19.3447 7.16013C19.0763 7.57081 18.9733 7.74985 19.3447 8.20808C19.6187 8.55099 20.5096 9.2621 21.1024 9.89937C22.1927 11.0424 23.031 12.0013 23.2545 12.6649C23.5055 13.3234 23.1351 13.6663 22.4151 13.6663L22.4184 13.6673Z' fill='white')
            a(href="") 
              svg(width='17' height='15' viewbox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M3.44434 10.1604V14.9732H6.10352e-05V0.0228522C0.122368 0.0152443 0.246081 0.00231159 0.369091 0.00231159C4.36305 0.00231159 8.35702 -0.00605742 12.3503 0.00915846C12.9235 0.00555777 13.4955 0.0688159 14.0563 0.197836C15.3405 0.509001 16.1741 1.39076 16.4237 2.79062C16.6902 4.33971 16.6878 5.92897 16.4166 7.47711C16.1791 8.89599 15.3342 9.69863 14.064 10.0189C13.9839 10.0395 13.9037 10.0562 13.8243 10.0775C13.7906 10.0866 13.7582 10.1019 13.6837 10.1308L17.0001 14.9938H15.9021C15.0706 14.9938 14.239 14.9846 13.4075 14.9998C13.179 15.0044 13.049 14.9169 12.9253 14.7153C12.0452 13.2804 11.156 11.8517 10.2577 10.429C10.1684 10.2882 9.97653 10.1391 9.82963 10.1376C7.79117 10.1194 5.75272 10.1247 3.71426 10.1262C3.62378 10.1322 3.53367 10.1437 3.44434 10.1604ZM3.46332 6.79848C3.57017 6.80533 3.66084 6.81522 3.75152 6.81522C6.45727 6.81522 9.16279 6.81522 11.8681 6.81522C12.0668 6.80885 12.265 6.78878 12.4613 6.75512C12.8247 6.70263 13.0335 6.46297 13.0637 6.07801C13.0968 5.66262 13.1017 5.24114 13.1031 4.82651C13.108 3.54 12.9084 3.32546 11.7198 3.32546C9.09555 3.32546 6.47133 3.32546 3.84712 3.32546H3.46192L3.46332 6.79848Z' fill='white')
          a(href="mailto:info@kupnokreml.ru") info@kupnokreml.ru
    .footer__bottom
      .footer__inner
        .footer__policy-conf
          a(href="") Политика конфиденциальности
        .footer__policy-data
          a(href="") Политика обработки персональных данных
