extends ../pug/layout.pug

block meta
  title Лучшие практики
  meta(name='description', content='')


block content
  .best-practices
    +breadcrumbs(["Главная", "Вебинары по тиражированию лучших практик"])
    .best-practices__title
      h1 Вебинары по тиражированию лучших практик
    .best-practices__wrapper
      aside.best-practices__sidebar
        +filter()
          +select("Наименование курирующей фабрики процессов", ["2023", "2022", "2021"], name="title")
          +select("Год реализации", ["2023", "2022", "2021"], name="year")
      section.best-practices__inner
        .best-practices__content
          .best-practices__item
            .best-practices__item-video
              +youtube("https://www.youtube.com/watch?v=oabjND9QW8Q")
            .best-practices__item-content
              .best-practices__item-tag Лучшая практика
              .best-practices__item-title Выкса_Эффективное пассажирское
              .best-practices__item-desc Введение визуальной навигации в здании МБОУ, с целью сокращения времени пользователей
              ul.best-practices__item-params
                li
                  span курирующая фабрика процессов
                  span Выкса
                li
                  span год реализации
                  span 2023
                li
                  span цель практики
                  span сокращение времени пользователей
                li
                  span эффект
                  span экономический эффект
              +link("Подробнее", "", "btn", false)(class="best-practices__item-link")
          .best-practices__item
            .best-practices__item-video
              +youtube("https://www.youtube.com/watch?v=oabjND9QW8Q")
            .best-practices__item-content
              .best-practices__item-tag Лучшая практика
              .best-practices__item-title Выкса_Эффективное пассажирское
              .best-practices__item-desc Введение визуальной навигации в здании МБОУ, с целью сокращения времени пользователей
              ul.best-practices__item-params
                li
                  span курирующая фабрика процессов
                  span Выкса
                li
                  span год реализации
                  span 2023
                li
                  span цель практики
                  span сокращение времени пользователей
                li
                  span эффект
                  span экономический эффект
              +link("Подробнее", "", "btn", false)(class="best-practices__item-link")
          .best-practices__item
            .best-practices__item-video
              +youtube("https://www.youtube.com/watch?v=oabjND9QW8Q")
            .best-practices__item-content
              .best-practices__item-tag Лучшая практика
              .best-practices__item-title Выкса_Эффективное пассажирское
              .best-practices__item-desc Введение визуальной навигации в здании МБОУ, с целью сокращения времени пользователей
              ul.best-practices__item-params
                li
                  span курирующая фабрика процессов
                  span Выкса
                li
                  span год реализации
                  span 2023
                li
                  span цель практики
                  span сокращение времени пользователей
                li
                  span эффект
                  span экономический эффект
              +link("Подробнее", "", "btn", false)(class="best-practices__item-link")
          .best-practices__item
            .best-practices__item-video
              +youtube("https://www.youtube.com/watch?v=oabjND9QW8Q")
            .best-practices__item-content
              .best-practices__item-tag Лучшая практика
              .best-practices__item-title Выкса_Эффективное пассажирское
              .best-practices__item-desc Введение визуальной навигации в здании МБОУ, с целью сокращения времени пользователей
              ul.best-practices__item-params
                li
                  span курирующая фабрика процессов
                  span Выкса
                li
                  span год реализации
                  span 2023
                li
                  span цель практики
                  span сокращение времени пользователей
                li
                  span эффект
                  span экономический эффект
              +link("Подробнее", "", "btn", false)(class="best-practices__item-link")
          .best-practices__item
            .best-practices__item-video
              +youtube("https://www.youtube.com/watch?v=oabjND9QW8Q")
            .best-practices__item-content
              .best-practices__item-tag Лучшая практика
              .best-practices__item-title Выкса_Эффективное пассажирское
              .best-practices__item-desc Введение визуальной навигации в здании МБОУ, с целью сокращения времени пользователей
              ul.best-practices__item-params
                li
                  span курирующая фабрика процессов
                  span Выкса
                li
                  span год реализации
                  span 2023
                li
                  span цель практики
                  span сокращение времени пользователей
                li
                  span эффект
                  span экономический эффект
              +link("Подробнее", "", "btn", false)(class="best-practices__item-link")
          .best-practices__item
            .best-practices__item-video
              +youtube("https://www.youtube.com/watch?v=oabjND9QW8Q")
            .best-practices__item-content
              .best-practices__item-tag Лучшая практика
              .best-practices__item-title Выкса_Эффективное пассажирское
              .best-practices__item-desc Введение визуальной навигации в здании МБОУ, с целью сокращения времени пользователей
              ul.best-practices__item-params
                li
                  span курирующая фабрика процессов
                  span Выкса
                li
                  span год реализации
                  span 2023
                li
                  span цель практики
                  span сокращение времени пользователей
                li
                  span эффект
                  span экономический эффект
              +link("Подробнее", "", "btn", false)(class="best-practices__item-link")
        +link("Показать ещё", "", "btn", true)(class="best-practices__more")
        +pagination("7")

