extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')


block content
  +main-map()
  .main-desc
    .main-desc__inner
     p «Суть бережливых технологий — устранить в работе потери, максимально задействовать резервы и мобилизовать потенциал сотрудников. Эти принципы универсальны для любого процесса: производственного, управленческого, офисного. Каждый муниципальный служащий должен принимать участие в выявлении потерь, поиске их причин и исправлении ситуации. Для этого необходимо создать атмосферу, в которой проблемы не скрываются, а последовательно разрешаются. Это включает визуализацию проблемы, командную работу, ответственность, интерес и поддержку со стороны руководства», - рассказала министр кадровой политики Нижегородской области Екатерина Лебедева.
  .main-news
    h2 Новости
    .main-news__inner
      +new-preview("img/new1.png")
      +new-preview("img/new2.png")
      +new-preview("img/new3.png")
    +link("Все новости", "", "btn")(class="main-news__link")
  .main-contacts
    .main-contacts__inner
      h2 Свяжитесь с нами, если у вас остались вопросы
      a(href="tel:+74952152178") +7 495 215-21-78
      a(href="mailto:info@kupnokreml.ru") info@kupnokreml.ru
      span г. Нижний Новгород, ул. Почаинская, д. 17, лит. КК1
    .main-contacts__map
      +ymap()
