//- Все примеси в этом файле должны начинаться c имени блока (youtube)

mixin youtube(src)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +youtube('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' youtube--' + modsList[i].trim();
      }
    }
  .youtube(data-url=src)
