//- Все примеси в этом файле должны начинаться c имени блока (new-preview)

mixin new-preview(img, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +new-preview('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' new-preview--' + modsList[i].trim();
      }
    }

  a.new-preview(class=allMods)&attributes(attributes)
    .new-preview__img
      img(src=img, alt="")
    .new-preview__content
      .new-preview__date Февраль 02, 2021
      .new-preview__text
        .new-preview__title «Фабрика процессов» открылась в Балахне
        .new-preview__desc 23 мая в Балахне открылась 16-я в Нижегородской области «Фабрика процессов эффективного управления». Подобные площадки создаются для обучения бережливым технологиям муниципальных служащих....
        .new-preview__more.arrow-right
          span Читать далее
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8297 11.2899L10.5897 7.04995C10.4967 6.95622 10.3861 6.88183 10.2643 6.83106C10.1424 6.78029 10.0117 6.75415 9.8797 6.75415C9.74769 6.75415 9.61698 6.78029 9.49512 6.83106C9.37326 6.88183 9.26266 6.95622 9.1697 7.04995C8.98345 7.23731 8.87891 7.49076 8.87891 7.75495C8.87891 8.01913 8.98345 8.27259 9.1697 8.45995L12.7097 11.9999L9.1697 15.5399C8.98345 15.7273 8.87891 15.9808 8.87891 16.2449C8.87891 16.5091 8.98345 16.7626 9.1697 16.9499C9.26314 17.0426 9.37395 17.116 9.49579 17.1657C9.61763 17.2155 9.74809 17.2407 9.8797 17.2399C10.0113 17.2407 10.1418 17.2155 10.2636 17.1657C10.3854 17.116 10.4963 17.0426 10.5897 16.9499L14.8297 12.7099C14.9234 12.617 14.9978 12.5064 15.0486 12.3845C15.0994 12.2627 15.1255 12.132 15.1255 11.9999C15.1255 11.8679 15.0994 11.7372 15.0486 11.6154C14.9978 11.4935 14.9234 11.3829 14.8297 11.2899Z" fill="white"/>
          </svg>
      .new-preview__view
        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_238_29956" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="20">
            <rect y="0.5" width="19" height="19" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_238_29956)">
            <path d="M9.49954 12.5142C10.3178 12.5142 11.0107 12.2304 11.5781 11.663C12.145 11.0955 12.4284 10.4026 12.4284 9.58436C12.4284 8.76673 12.145 8.07418 11.5781 7.50671C11.0107 6.93924 10.3178 6.65551 9.49954 6.65551C8.68127 6.65551 7.98841 6.93924 7.42094 7.50671C6.85411 8.07418 6.57069 8.76673 6.57069 9.58436C6.57069 10.4159 6.85411 11.112 7.42094 11.6725C7.98841 12.2336 8.68127 12.5142 9.49954 12.5142ZM9.49954 11.7219C8.90547 11.7219 8.40071 11.5141 7.98524 11.0987C7.56977 10.6832 7.36204 10.1784 7.36204 9.58436C7.36204 8.99093 7.56977 8.48648 7.98524 8.07101C8.40071 7.65491 8.90547 7.44686 9.49954 7.44686C10.0936 7.44686 10.5984 7.65491 11.0138 8.07101C11.4293 8.48648 11.637 8.99093 11.637 9.58436C11.637 10.1784 11.4293 10.6832 11.0138 11.0987C10.5984 11.5141 10.0936 11.7219 9.49954 11.7219ZM9.49954 14.7505C7.77117 14.7505 6.20431 14.2821 4.79894 13.3454C3.39357 12.4087 2.34129 11.155 1.64209 9.58436C2.34129 8.01433 3.39674 6.76444 4.80844 5.83471C6.22077 4.90434 7.78447 4.43916 9.49954 4.43916C11.2146 4.43916 12.778 4.90434 14.1897 5.83471C15.602 6.76444 16.6578 8.01433 17.357 9.58436C16.6578 11.155 15.6055 12.4087 14.2001 13.3454C12.7948 14.2821 11.2279 14.7505 9.49954 14.7505Z" fill="#fff"/>
          </g>
        </svg>

        span 2034